In [28]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np

import plotly
import plotly.offline as pyo
import plotly.graph_objs as go

In [8]:
# !dir

In [47]:

# dealing with local dataset
# df = pd.read_csv('../../data/cases-brazil-cities-time.csv.gz', compression='gzip', sep=',')
# df.head()

df_woca = pd.read_csv('../../data/cases-brazil-states.csv')
df_woca['date'] = pd.to_datetime(df['date'])

print(df_woca.info())
print(df_woca.shape)
df_woca.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8694 entries, 0 to 8693
Data columns (total 18 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   epi_week                         8694 non-null   int64
 1   date                             8694 non-null   datetime64[ns]
 2   country                          8694 non-null   object
 3   state                            8694 non-null   object
 4   city                             8694 non-null   object
 5   newDeaths                        8694 non-null   int64
 6   deaths                           8694 non-null   int64
 7   newCases                         8694 non-null   int64
 8   totalCases                       8694 non-null   int64
 9   deathsMS                         8694 non-null   int64
 10  totalCasesMS                     8694 non-null   int64
 11  deaths_per_100k_inhabitants      8694 non-null   float64
 12  totalCases_per_100k_inhabitants  8694 non-null   float64
 13  deaths_by_totalCases             8694 non-null   float64
 14  recovered                        7972 non-null   float64
 15  suspects                         6150 non-null   float64
 16  tests                            7350 non-null   float64
 17  tests_per_100k_inhabitants       7350 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(7), object(3)
memory usage: 1.2+ MB
None
(8694, 18)

,epi_week,date,country,state,city,newDeaths,deaths,newCases,totalCases,deathsMS,totalCasesMS,deaths_per_100k_inhabitants,totalCases_per_100k_inhabitants,deaths_by_totalCases,recovered,suspects,tests,tests_per_100k_inhabitants
0,9,2020-02-25,Brazil,SP,TOTAL,0,0,1,1,0,0,0.0,0.00218,0.0,NaN,NaN,NaN,NaN
1,9,2020-02-25,Brazil,TOTAL,TOTAL,0,0,1,1,0,0,0.0,0.00047,0.0,NaN,NaN,NaN,NaN
2,9,2020-02-26,Brazil,SP,TOTAL,0,0,0,1,0,1,0.0,0.00218,0.0,NaN,NaN,NaN,NaN
3,9,2020-02-26,Brazil,TOTAL,TOTAL,0,0,0,1,0,1,0.0,0.00047,0.0,NaN,NaN,NaN,NaN
4,9,2020-02-27,Brazil,SP,TOTAL,0,0,0,1,0,1,0.0,0.00218,0.0,NaN,NaN,NaN,NaN

In [22]:
df_woca['state'].unique()

array(['SP', 'TOTAL', 'RJ', 'BA', 'ES', 'DF', 'AL', 'MG', 'RS', 'GO',
       'PE', 'PR', 'RN', 'SC', 'AM', 'MS', 'SE', 'CE', 'AC', 'PA', 'PB',
       'TO', 'PI', 'AP', 'MA', 'MT', 'RO', 'RR'], dtype=object)

In [56]:
df_woca['testes_caso_confirmado'] = df_woca['tests']/df_woca['totalCases']

In [57]:
def get_plotly_lineplot_trace_object(x, y, name=''):
    # marker_dict = dict(size=12,
    #                 color ='rgb(51,204,153)',
    #                 symbol='pentagon',
    #                 line={'width':2}
                #   )
    # trace
    trace = go.Scatter(x=x, y=y, 
                       mode='lines', name=name)
                    #    marker=marker_dict)
    return trace

def get_state_tests_df(df, state_str, xvar, yvar):
    return df.query(f"state == '{state_str}' ")[[xvar,yvar]]
    
def get_xy_data_from_state_df(state_df):
    x=state_df.iloc[:,0]
    y=state_df.iloc[:,1]
    return (x,y)

In [59]:
xvar = 'date'
yvar = 'testes_caso_confirmado'#'tests_per_100k_inhabitants'

traces = [get_plotly_lineplot_trace_object( *get_xy_data_from_state_df(get_state_tests_df(df, state_str, xvar=xvar, yvar=yvar)), name=state_str) for state_str in ['SP','RJ','RS','SC']]
data = [*traces]

layout = go.Layout(title='COVID-BR',
                  xaxis={'title':'Data'},
                  yaxis=dict(title='Testes por caso'),
                  hovermode='closest')

fig = go.Figure(data=data, layout=layout)

pyo.plot(fig, filename='lineplot.html')

'lineplot.html'

In [ ]:


data = [get_plotly_lineplot_trace_object(df_woca['date'], df_woca['totalCases'], name='w'), # https://github.com/wcota/covid19br/
        get_plotly_lineplot_trace_object(df_gov['date'], df_gov['totalCases'], name='w'),
        ] # https://covid.saude.gov.br/

fig = go.Figure(data=data)

pyo.plot(fig, filename='lineplot.html')